@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
  --cor1: #eaeaea;
  --cor2: #101010;
  --cor3: #9fbc95;
  --cor4: #ffffff;
}

body, html{
  width: 100%;
  height: 100%;
}

button, a{
  cursor: pointer;
}

body{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background-color: var(--cor1);
  overflow-x: hidden;
}

footer{
  font-size: 0.7em;
  margin-bottom: 1%;
  opacity: 30%;
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url('../images/fundo 1.svg') no-repeat center center;
  background-size: cover;
  transform: translate(-50%, -50%);
  background-attachment: fixed;
  z-index: -10;
  opacity: 50%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-column{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.div-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-form{
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--cor4);
  padding: 2%;
  background: inherit;
  background-size: cover;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: 
    linear-gradient(transparent, transparent),
    repeating-radial-gradient(circle at 0 0, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.05) 1px, transparent 1px, transparent 100%);
  background-size: 1.5px 1.5px; /* Tamanho do ruído */
}


.main-form-div{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1{
  font-weight: 800;
  font-size: 1.4em;
  text-transform: uppercase;
  color: var(--cor2);
  margin-bottom: 10px;
}

label{
  font-weight: 500;
  font-size: 1em;
  color: var(--cor2);
  margin-right: 15px;
  
}

input{
  font-weight: 500;
  font-size: 0.8em;
  color: var(--cor2);
  border-radius: 100px;
  border: none;
  width: 300px;
  padding: 5px;
}

.div-input{
  margin-top: 20px;
  width: 100%;
}

.recupera{
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 0.8em;
  font-style: italic;
  color: var(--cor3);
}

.button-1{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: var(--cor2);
  color: var(--cor4);
  
}

.button-2{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid var(--cor2);
  background-color: var(--cor1);
  color: var(--cor2);
  margin-right: 70px;
}

.button-1:hover{
  background-color: var(--cor3);
  color: var(--cor1);
  border-color: var(--cor3);
}

.button-2:hover{
  background-color: var(--cor3);
  color: var(--cor1);
  border-color: var(--cor3);
}

.eye-icon {
  cursor: pointer;
  font-size: 18px;
  color: #999;
  margin-left: 5px;
}

.eye-icon:hover {
  color: #333;
}

@media (max-width: 540px) {
  .main-form{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
  }

  h1{
    font-size: 1.3em;
  }
  
  label{
    font-size: 0.9em;

  }
  
  input{

    font-size: 0.7em;
    color: var(--cor2);
    width: 250px;
  }

  .button-1{

    font-size: 0.9em;
 
  } 
  .button-2{

    font-size: 0.9em;

  }
}


