{%load static %}
<link rel = "stylesheet" href= {% static "css/cidade.css" %}>

{%load static %}
<script src={% static "js/cidade.js" %}></script>

{%load static%}
<link rel = "stylesheet" href= {% static "css/modal.css" %}>

{%load static %}
<script src={% static "" %}></script>



<div class="modal board">
  <form action="" class="modal-form">
                  
    <h1>Nova cidade</h1>
    <div class="modal-div-row">
      <div class="modal-div-nome">
        <label for="nome">Nome</label>
        <input type="text" id="modal-nome" name="nome">
      </div>
      <div class="modal-div-status">
        <label for="status">Status</label>
        <select name="status" class="modal-select-status">
          <option value="1" selected>Ativo</option>
          <option value="0">Inativo</option>
        </select>
      </div>
    </div>
  
    <div class="modal-div-button modal-div-row">
      <button type="button" class="button-2" id="modal-cancelar">Cancelar</button>
      <button type="" class="button-1" id="modal-adicionar">Adicionar</button>
    </div>
  
  </form>
</div>
<div class="modal-overlay"></div>
    

<div class="content-top">
  <div class="content-top-wellcome">
    <h1>Cidades (Campus)</h1>
    <p>Sábado, 12 de outubro</p>
  </div>
  
  <div class="content-top-op">
    <input type="search" placeholder="Pesquisar">
    <button class="content-top-button" id="button-add-mov">Nova cidade</button>
  </div>
</div>

<div class="content-elements">
  
  <div class="content-elements-2">
    <div class="content-reg board">

      <table class="table-mov table-base">
        <tr>
          <th>Nome da cidade</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>teste</td>
          <td>teste</td>
        </tr>
        
      </table>

    </div>
  </div>
  

</div>