
{%load static %}
<link rel = "stylesheet" href= {% static "css/config.css" %}>

{%load static %}
<script src={% static "js/config.js" %}></script>


{%load static%}
<link rel = "stylesheet" href= {% static "css/modal.css" %}>

<div class="content-top">
  <div class="content-top-wellcome">
    <h1>Configurações</h1>
    <p></p>
  </div>
</div>

<div class="content-elements">
  
  <div class="content-elements-3">
    <div class="content-reg board">
      <h1>Conectar conta google</h1>

    </div>
  </div>
  

</div>
