@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --cor1: #eaeaea;
    --cor2: #101010;
    --cor3: #9fbc95;
    --cor4: #ffffff;
    --cor5: #828282;
    --cor6: #f0f0f0;
}

body, html{
    width: 100%;
    height: 100%;
}

button, a{
    cursor: pointer;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--cor1);
    overflow: hidden;
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: url('../images/fundo 1.svg') no-repeat center center;
    background-size: cover;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
    z-index: -10;
    opacity: 50%;
}

.board{
    padding: 1.5%;
    background-color: var(--cor6);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    transition: 1s ease-in-out;
    width: 35%;
    display: none;
    height: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999; /* Para garantir que fique acima de outros elementos */
    transition: 1s ease-in-out;
    display: none;
}

main{
    width: 100%;
    height: 100%;
}


.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.sidebar{
    height:95%;
    width: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--cor4);
    background: inherit;
    background-size: cover;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar svg{
    height: 18px;
    width: 18Px;
}

.side-options{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.side-options svg{
    fill: var(--cor5);
}

.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.side-menu svg{
    fill: var(--cor2);
}

#side-menu{
    font-size: 1.5em;
    color: var(--cor2);
    font-weight:900;
}

.side-config svg{
    fill: var(--cor5);
}

.side-config{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
    width: 100%;
    flex-grow: 1;
    overflow-y: hidden;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    border: 1px solid var(--cor4);
    background: inherit;
    background-size: cover;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    
}

.final{
    margin-top: 70%;
}


.select-page svg{
    fill: var(--cor3);
}


.side-options a:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.side-config a:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

/* CLASSE Q SERÁ USADA PARA ALTERAÇÃO DOS ÍCONES */
.select-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-right: solid 2px;
    border-color: var(--cor3);
    transition: 1s ease-in-out;
}









/* Estilo padrão */
::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--cor5);
    border-radius: 10px;
}

/* Firefox */
::-moz-scrollbar {
    width: 5px;
}

::-moz-scrollbar-track {
    background: none;
}

::-moz-scrollbar-thumb {
    background: var(--cor5);
    border-radius: 10px;
}

/* Internet Explorer 10+ */
::-ms-scrollbar {
    width: 5px;
}

::-ms-scrollbar-track {
    background: none;
}

::-ms-scrollbar-thumb {
    background: var(--cor5);
    border-radius: 10px;
}